body {
   background-color:  #3C3C3B;
   color: #CFC8BB;
}

p {
  color: #CFC8BB;
}

svg {
  fill: #CFC8BB;
}

.navbar {
  background-color: #3C3C3B;
}

div.expo-nav {
  background-color: #3C3C3B !important;
}

.expo-slide-info {
  background-color: #3C3C3B !important;
  border-top: 1.5px #CFC8BB solid !important ;
}

.nav-arrow {
  color: #CFC8BB;
}

i {
  color: #CFC8BB;
}


.expo-nav-progress {
border-top: 4px solid #A03A1E !important;
}


.modal-controls-lg {
  background-color: #3C3C3B !important;

}

.art-img {
  background-color: #3C3C3B !important;

}
