body {
   background-color:  #3C3C3B;
   color: white;
}

p {
  color: rgb(255, 255, 255);
}

svg {
  fill: rgb(255, 255, 255);
}

.navbar {
  background-color: #3C3C3B;
}

div.expo-nav {
  background-color: #3C3C3B !important;
}

.expo-slide-info {
  background-color: #3C3C3B !important;
}

.nav-arrow {
  color: white;
}

i {
  color: white;
}


.expo-nav-progress {
border-top: 4px solid #A03A1E !important;
}
